<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Investment Strategies & AI Labs México</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>

    <div class="container">
        <h1>Bienvenido a Investment Strategies & AI Labs México!</h1>

        <!-- Tabla HTML -->
        <table class="tabla1" border="1">
            <thead>
               <caption>Reporte Financiero para Walmart MX de los últimos 30 días recopilado al {{fecha_actual}}.</caption>
                <tr>
                    <th>Parámetro</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Close</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in datos_tabla %}
                    <tr>
                        <td>{{ fila.Parametro }}</td>
                        <td>{{ fila.Open }}</td>
                        <td>{{ fila.High }}</td>
                        <td>{{ fila.Close }}</td>
                        <td>{{ fila.Volume }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            
        </table>

        <div class="mensaje-adicional">
                Fuente: Yahoo Finance en colaboración con GBM.
        </div>


        <table class="tabla2" border="1">
            <thead>
               <caption>Detalles del modelo entrenado LR (19-11-2023).</caption>
                <tr>
                    <th>Métrica de desempeño</th>
                    <th>Muestra Train</th>
                    <th>Muestra Test</th>
                    <th>Muestra Test + Act</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in datos_tabla_2 %}
                    <tr>
                        <td>{{ fila.Metrica }}</td>
                        <td>{{ fila.train }}</td>
                        <td>{{ fila.test }}</td>
                        <td>{{ fila.test_act }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            
        </table>



        <!-- Otro contenido de tu aplicación aquí -->
    </div>

 <div class="login">

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <button type="submit" class="btn btn-primary btn-block btn-large">Cálcular predicción</button>
    </form>

   <br>
   <br>
  
   
 </div>


<div class="resultado-cuadro">
    {{ pred }}
</div>


</body>
</html>
